<div class="container">
    <div class="box-pedido">
      <ul class="pedido">
        <li>PEDIDO REALIZADO</li>
        <li>18 de agosto de 2021</li>
      </ul>
  
      <ul class="total">
        <li>TOTAL</li>
        <li>R$ 28,80</li>
      </ul>
  
      <ul class="enviar">
        <li>ENVIAR PARA</li>
        <li><a href="http://">Amarilis Caccia</a></li>
      </ul>
  
      <div class="pedido-n">
        <div class="ord-n">
          <p>PEDIDO Nº 701-4853105-8972208</p>
          <p>
            <a href="#">Exibir detalhes do pedido</a>
            |
            <a href="#">Exibir recibo</a>
          </p>
        </div>
      </div>
    </div>
  
    <div class="descricaoPedido">
      <div class="produto1">
        <div class="fotoProduto">
          <img
            alt="Foto do Perfume"
            src="../../../assets/images/monitor.jpg"
            width="90"
          />
        </div>
        <div class="produto">
          <h6><a href="#">Monitor LG 19.5'' LED HD - HDMI</a></h6>
          <h6>O período de devolução se encerrou em 19 de dez. de 2021.</h6>
          <a class="btn1" href="#">Comprar novamente</a>
        </div>
      </div>
  
      <div class="botoes-share">
        <table class="botoes">
          <li><button class="btn2">Problema com o pedido</button></li>
          <li><button class="btn">Devolver ou substituir Itens</button></li>
          <li><button class="btn">Compartilhar recibo de presente</button></li>
          <li><button class="btn">Avaliar o produto</button></li>
        </table>
      </div>
    </div>
  
    <div class="arquivar-p">
      <a href="#">Arquivar Pedido</a>
    </div>
  </div>
  