<div class="box-pedido">
    <ul class="pedido">
        <li>PEDIDO REALIZADO</li>
        <li>18 de agosto de 2021</li>
    </ul>

    <ul class="total">
        <li>TOTAL</li>
        <li>R$ 28,80</li>
    </ul>

    <ul class="enviar">
        <li>ENVIAR PARA</li>
        <li><a href="#">Amarilis Caccia</a></li>
    </ul> 

    <div class="pedido-n">
        <ul class="ord-n">
            <li>PEDIDO N 701-4853105-8972208</li>
            <li><a href="#">Exibir detalhes do pedido</a>|<a href="#">Exibir recibo</a></li>
        </ul>
    </div>
</div>

<div class="descricao-pedido">
<img alt="Foto do Monitor" src="../../../assets/images/monitor.jpg" width="90">

<ul class="produto">
    <li><a href="#">Monitor LG 19.5'' LED HD - HDMI</a></li>
    <li>O período de devolução se encerrou em 14 de dez. de 2021.</li>
    <li><button class="btn1">Comprar novamente</button></li>
</ul>
<div class="botoes-share">
    <table class="botoes">
        <li><button class="btn2">Problema com o pedido</button></li>
        <li><button class="btn">Devolver ou substituir Itens</button></li>
        <li><button class="btn">Compartilhar rebico de presente</button></li>
        <li><button class="btn">Avaliar o produto</button></li>
    </table>
</div>
</div>


<div class="arquivar-p">
<a href="#">Arquivar Pedido</a>
</div>